<div class="container bottomalign">
    <label *ngIf="messageE!=''" class="alert alert-danger">{{messageE}}</label>
    <label *ngIf="messageS!=''" class="alert alert-success">{{messageS}}</label>
    <form (ngSubmit)="authenticate(myform.value)" #myform="ngForm">
        <div>
            <label>Enter Email</label>
            <input type="text" name="email" ngModel class="form-control" style="width: 300px;">
        </div>
        <div>
            <label>Enter Password</label>
            <input type="password" name="password" ngModel class="form-control" style="width: 300px;">
        </div>
        <div>
            <input type="submit" class="btn" style="width: 150px;">
            <input type="reset"  class="btn" style="width: 150px;">
        </div>
    </form>
</div>