
        <!--Gallery-->
        <section class="gallery">
            <div class="container">
                <div class="wthree_head_section">
                    <h2 class="w3l_header">Gallery</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                </div>
                <div class="row agile_gallery_grids w3-agile demo">
                    <div class="col-md-4 gal-sec">
                        <div class="gallery-grid1">
                            <a title="Attractive home purchase offers." href="../../../assets/images/g1.jpg">
                            <img src="../../../assets/images/g1.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Preparation</h4>
                                <p>Education</p>
                            </div>
                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a title="Attractive home purchase offers." href="../../../assets/images/g2.jpg">
                            <img src="../../../assets/images/g2.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Preparation</h4>
                                <p>Education</p>
                            </div>
                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a title="Attractive home purchase offers." href="../../../assets/images/g3.jpg">
                            <img src="../../../assets/images/g3.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Preparation</h4>
                                <p>Education</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 gal-sec">
                        <div class="gallery-grid1">
                            <a title="Attractive home purchase offers." href="../../../assets/images/g4.jpg">
                            <img src="../../../assets/images/g4.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Preparation</h4>
                                <p>Education</p>
                            </div>
                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a title="Attractive home purchase offers." href="../../../assets/images/g5.jpg">
                            <img src="../../../assets/images/g5.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Preparation</h4>
                                <p>Education</p>
                            </div>
                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a title="Attractive home purchase offers." href="../../../assets/images/g6.jpg">
                            <img src="../../../assets/images/g6.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Preparation</h4>
                                <p>Education</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 gal-sec">
                        <div class="gallery-grid1">
                            <a title="Attractive home purchase offers." href="../../../assets/images/g7.jpg">
                            <img src="../../../assets/images/g7.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Preparation</h4>
                                <p>Education</p>
                            </div>
                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a title="Attractive home purchase offers." href="../../../assets/images/g8.jpg">
                            <img src="../../../assets/images/g8.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Preparation</h4>
                                <p>Education</p>
                            </div>
                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a title="Attractive home purchase offers." href="../../../assets/images/g9.jpg">
                            <img src="../../../assets/images/g9.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Preparation</h4>
                                <p>Education</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//Gallery-->
    