<!-- //banner -->
		<!-- about inner -->
        <section class="about-bottom inner-padding">
            <div class="container">
                <div class="wthree_head_section">
                        <h2 class="w3l_header">About Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>
                        <div class="about-bott-right">
                             <h5>Who We Are</h5>
                             <p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure reprehend.Unicmquam eius, Basmodi temurer sehsMunim.Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure reprehend.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
        </section>
        
        <!-- //about inner -->
<section class="ser-agile">
    <div class="container">
        <div class="wthree_head_section">
            <h3 class="w3l_header w3_agileits_header two">Our Classes</h3>
        </div>
            <div class="row w3l-info">
                    <div class="col-lg-4 ser-lef-agile">
                        <div class="grid1">
                            <h5>Sunday - 10:00 Am</h5>
                            <h4>Special Classes</h4>
                            <h6>Tutor: Andrew Ross</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 ser-lef-agile">
                        <div class="grid1">
                            <h5>Daily - 8:00 Am</h5>
                            <h4>Special Classes</h4>
                            <h6>Tutor: Steve Smith</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 ser-lef-agile">
                        <div class="grid1">
                            <h5>Saturday - 9:00 Am</h5>
                            <h4>Special Classes</h4>
                            <h6>Tutor: Jessy Raider</h6>
                        </div>
                    </div>
                </div>
        </div>
</section>
<!-- //classes -->
<!-- Team -->
<section class="team">
<div class="container">
    <div class="wthree_head_section">
        <h3 class="w3l_header">Our Tutors</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
    </div>
    <div class="row agile_team_grids">
        <div class="col-md-3 agile_team_grid">
            <div class="view view-sixth">
                <img src="../../../assets/images/te1.jpg" alt=" " class="img-fluid">
                <div class="mask">
                    <div class="w3l-social">
                        <ul>
                            <li>
                                <a href="#" class="fab fa-facebook-f"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus-g"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h4>Daniel</h4>
            <p>Teacher</p>
        </div>
        <div class="col-md-3 agile_team_grid">
            <div class="view view-sixth">
                <img src="../../../assets/images/te2.jpg" alt=" " class="img-fluid">
                <div class="mask">
                    <div class="w3l-social">
                        <ul>
                            <li>
                                <a href="#" class="fab fa-facebook-f"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus-g"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h4>Mary Winkler</h4>
            <p>Teacher</p>
        </div>
        <div class="col-md-3 agile_team_grid">
            <div class="view view-sixth">
                <img src="../../../assets/images/te3.jpg" alt=" " class="img-fluid">
                <div class="mask">
                    <div class="w3l-social">
                        <ul>
                            <li>
                                <a href="#" class="fab fa-facebook-f"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus-g"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h4>James Mac</h4>
            <p>Teacher</p>
        </div>
        <div class="col-md-3 agile_team_grid">
            <div class="view view-sixth">
                <img src="../../../assets/images/te4.jpg" alt=" " class="img-fluid">
                <div class="mask">
                    <div class="w3l-social">
                        <ul>
                            <li>
                                <a href="#" class="fab fa-facebook-f"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus-g"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h4>Smith Carls</h4>
            <p>Teacher</p>
        </div>
    </div>
</div>
</section>
<!-- //Team -->
